@import 'tailwindcss';

:root {
  --background: #f4f6f8;
  --foreground: #1c252e;
}

@theme inline {
  --breakpoint-extra: 120rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* customize */
  --color-secondary: #637381;
  --color-primary: var(--foreground);
  --color-disabled: #919eab;
  --color-warning: #faca4a;

  --color-brand-50: #e6f1ff;
  --color-brand-100: #cde4fe;
  --color-brand-500: #0373f3;
  --color-brand-600: #025fca;
  --color-brand-700: #024897;
  --color-brand-800: #013065;

  --shadow-card-deco: 0px 8px 16px 0px #919eab29;
  --shadow-card-product: 0px 0px 2px 0px #919eab33;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.swiper-button-next {
  right: 20px !important;
}

.swiper-button-prev::before,
.swiper-button-next::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: #cde4fe;
  border-radius: 100%;
  z-index: -1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #1c252e;
  font-weight: 600;
  font-size: 14px !important;
}

.swiper-button-prev::after {
  transform: translateX(7px) translateY(-2px);
}

.swiper-button-next::after {
  transform: translateX(8px) translateY(-2px);
}
